<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bulma.min.css">
        <link rel="icon" href="../favicon.png">
    </head>
    <body>
        <div class="columns" style="margin-top: 2em;">
            <div class="column">
                <div class="columns is-centered is-vcentered">
                    <div class="column box is-narrow">
                        Это админская страничка.
                        <br>Днище с ролью User или Moder не пройдёт!
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>