<!DOCTYPE html>
<html>
    <head>
        <title>Пробуем авторизацию</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bulma.min.css">
        <link rel="icon" href="../favicon.png">
    </head>
    <body>
        <div class="columns" style="margin-top: 2em;">
            <div class="column">
                <div class="columns is-vcentered is-centered">
                    <div class="column box is-narrow">
                        <p class="title">Регистрация</h1>
                        <form action="http://{{host}}:{{port}}/sign-up" method="post">
                            <div class="field">
                                <label class="label">Имя пользователя</label>
                                <div class="control">
                                    <input type="text" name="username" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Пароль</label>
                                <div class="control">
                                    <input type="password" name="password" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Повтор пароля</label>
                                <div class="control">
                                    <input type="password" name="repeated_password" class="input">
                                </div>
                            </div>
                            {{#if signupError.isPresent}}
                            <div class="field">
                                <p class="help is-danger">
                                    {{signupError.message}}
                                </p>
                            </div>
                            {{/if}}
                            <div class="field">
                                <div class="control">
                                    <button class="button is-info">Зарегистрироваться</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column box is-narrow" style="margin-left: 2em;">
                        <h1 class="title">Вход</h1>
                        <form action="http://{{host}}:{{port}}/sign-in" method="post">
                            <div class="field">
                                <label class="label">Имя пользователя</label>
                                <div class="control">
                                    <input type="text" name="username" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Пароль</label>
                                <div class="control">
                                    <input type="password" name="password" class="input">
                                </div>
                            </div>
                            {{#if signinError.isPresent}}
                            <div class="field">
                                <p class="help is-danger">
                                    {{signinError.message}}
                                </p>
                            </div>
                            {{/if}}
                            <div class="field">
                                <div class="control">
                                    <button class="button is-info">Войти</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>