<!DOCTYPE html>
<html>
    <head>
        <title>Крудецкий на растецком</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bulma.min.css">
        <link rel="icon" href="../favicon.png">
    </head>
    <body>
        <div class="columns" style="margin-top: 2em;">
            <div class="column">
                <div class="columns is-centered is-vcentered">
                    <div class="column box is-narrow">
                        <form action="http://127.0.0.1:8085/" method="post">
                            <div class="field">
                                <label class="label">Имя</label>
                                <div class="control">
                                    <input type="text" name="name" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Возраст</label>
                                <div class="control">
                                    <input type="text" name="age" class="input">
                                </div>
                            </div>
                            <button class="button is-info">Добавить</button>
                        </form>
                    </div>
                    <div class="column box is-narrow" style="margin-left: 2em;">
                        <form action="http://127.0.0.1:8085/delete" method="post">
                            <div class="field">
                                <label class="label">ID</label>
                                <div class="control">
                                    <input type="text" name="id" class="input">
                                </div>
                                {{#if errorIsPresent}}
                                <p class="help is-danger">
                                    {{errorMessage}}
                                </p>
                                {{/if}}
                            </div>
                            <button class="button is-info">Удалить</button>
                        </form>
                    </div>
                </div>
                {{#if anyExist}}
                <div class="columns is-centered" style="margin-top: 2em;">
                    <div class="column box is-narrow">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Имя</th>
                                    <th>Возраст</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each people}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{name}}</td>
                                    <td>{{age}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </body>
</html>