<!DOCTYPE html>
<html>
    <head>
        <title>Личные записи</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bulma.min.css">
        <link rel="icon" href="../favicon.png">
    </head>
    <body>
        <div class="columns" style="margin-top: 2em;">
            <div class="column">
                <div class="columns is-centered is-vcentered">
                    <div class="column box is-narrow">
                        <form action="http://{{host}}:{{port}}/record" method="post">
                            <div class="field">
                                <label class="label">Текст</label>
                                <div class="control">
                                    <textarea name="text" cols="30" rows="3" style="resize: none;"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-info">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{#if recordsArePresent}}
                <div class="columns is-centered is-vcentered" style="margin-top: 2em;">
                    <div class="column box is-narrow">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Текст</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each records}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{text}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </body>
</html>