<!DOCTYPE html>
<html>
    <head>
        <title>Назначение админом</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bulma.min.css">
        <link rel="icon" href="../favicon.png">
        {{#if redirect.isPresent}}
        <meta http-equiv="refresh" 
              content="{{redirect.delay.secs}}; url=http://{{host}}:{{port}}/{{redirect.path}}">
        {{/if}}
    </head>
    <body>
        <div class="columns" style="margin-top: 2em;">
            <div class="column">
                <div class="columns is-centered is-vcentered">
                    <div class="column box is-narrow">
                        {{message}}
                    </div>
                </div>
                {{#if redirect.isPresent}}
                <div class="columns is-centered is-vcentered" style="margin-top: 2em;">
                    <div class="column box is-narrow">
                        Вы будете перенаправлены
                        {{#if redirect.delay.isPresent}} через {{redirect.delay.secs}} секунд{{/if}}
                         на другую страницу.
                    </div>
                </div>
                <div class="columns is-centered is-vcentered" style="margin-top: 2em;">
                    <div class="column box is-narrow">
                        <form action="http://{{host}}:{{port}}/{{redirect.path}}" method="get">
                            <button class="button is-info">Перейти сразу</button>
                        </form>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </body>
</html>